.btn {
    background-color:#4aaaa5 ;
    color:#ffffff;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover,
.btn:active
.btn:focus {
    background-color: #3b8884;
}

#myform {
    margin-top: 30px;
    font-size: 14px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    resize: none;
}

::placeholder {
    color: #A8A8A8;
}

/* Clear placeholder text on focus */
input:focus::-webkit-input-placeholder {
    color: transparent;
}