.main_body {
    display: inline-block;
}

imgPortfolio {
    z-index: -99999;
    width: auto;
}

.container {
    float:left;
    margin: 10px;
    position: relative;
    text-align: center;
    color: white;
    white-space: nowrap;
    display: inline-block;
    height: 150px;
}

.label {
    position: absolute;
    font-family: 'Georgia', Times, Times New Roman, serif;
    bottom: 10px;
    background-color:#4aaaa5;
    /* left: 50%; */
    color: white;
    width: 100%;
}

a.linklabel:hover,
a.linklabel:active,
a.linklabel:visited {
    color: white;
    text-decoration: none;
}