.main_body {
    display: inline-block;
}

.portfoliocontainer {
    float:left;
    margin: 5px;
    color: white;
    display: flex;
    height: 150px;
    width: 200px;
}

.imgPortfolio {
    object-fit: fill;
     width: 150px;
    max-height: 100%;
    max-width: 100%;  
}

.label {
    position: absolute;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 12px;
    bottom: 15px;
    background-color:#4aaaa5;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.label:hover {
    background-color: #3b8884;
}


@media screen and (max-width: 640px) {

.portfoliocontainer {
    float:none;
    display: static;
    height: auto;
    width: auto;
    object-fit:cover;
}
.imgPortfolio {
     width: 100%;
     height: auto;
     display: static;
    }
}